@import "vars";
@import "highlight";
@import "mixins";

@import "partials/archive";
@import "partials/footer";
@import "partials/header";
@import "partials/header-tags";
@import "partials/post";
@import "partials/top-background";
@import "partials/toc";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

a {
  color: $black;
}

.paper-title {
  text-transform: uppercase;
  color: #333333;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px;
  padding-bottom: 30px;
  position: relative;

  // Line underneath
  &:after {
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: #333;
    background: rgba(51,51,51,0.2);
  }
}

.content {
  flex: 1;
  font-size: 18px;
  line-height: 1.7375;
  letter-spacing: 0.018em;
  font-weight: 300;
  margin: $header-vertical-padding auto 0;
  @media screen and (min-width: $med-width) {
    margin-top: 75px;
  }
  padding: 56px $content-horizontal-padding;
  background-color: white;
  @extend .content-width;
  color: $black;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

